In [1]:
import pandas as pd
import numpy as np
import re
import pickle

from transformers import AutoTokenizer
from load_data import *

## 목표 : UNK을 찾아내는 함수를 구현하고 Synonym 대량 작업을 해보자

In [2]:
MODEL_NAME = 'klue/roberta-large'
tokenizer = AutoTokenizer.from_pretrained(MODEL_NAME)

In [3]:
data = load_data("../dataset/train/train.csv")
data.sample(10)

,id,sentence,subject_entity,object_entity,label
11482,11482,이어 킹스턴에 위치한 자메이카전력공사 본사를 방문하여 CEO 및 경영진으로부터 사업...,'자메이카','킹스턴',org:members
24240,24240,"이승만의 최측근이었으며 측근 중에서도 강경파로 분류되던 윤치영, 임영신 등은 자유당...",'자유당','대한국민당',no_relation
31327,31327,"2007-08 시즌, 500만 유로에 함부르크 SV로 이적해 2007-08 시즌 2...",'함부르크 SV','2008',no_relation
2120,2120,그러나 그의 아내 소르칵타니는 케레이트족 토그릴의 질녀로 경교 신자였으며 현명하였다.,'소르칵타니','케레이트',per:origin
10430,10430,"1970년 서독은 소련과 모스크바 조약, 폴란드와 바르샤바 조약을 체결하면서 오데르...",'바르샤바','폴란드',no_relation
9219,9219,경기가 끝난 후 울산 현대미포조선 돌고래는 우승을 차지하였으나 그들 또한 승격을 거...,'울산 현대미포조선','돌고래',no_relation
13053,13053,"제500군사정보여단은 미국 육군의 첩보여단으로, 하와이주 스코필드 막사에 본부를 두...",'제500군사정보여단','미국 육군',org:member_of
10552,10552,1912년 11월 28일 남부 블로러에서 열린 알바니아 만민 회의에서 블로러 의회가...,'알바니아','1912년 11월 28일',no_relation
22693,22693,이 같은 정세 속에 1392년 아시카가 요시미쓰의 알선으로 천황가의 다이가쿠지 계와...,'고카메야마 천황','고코마쓰 천황',no_relation
27093,27093,"첸딘 돈독둘람(Дондогдулам, 1876년 11월 15일 ~ 1923년 4월 ...",'첸딘 돈독둘람','복드 칸',per:employee_of

In [4]:
data[data.subject_entity=="'신라대학교'"]

,id,sentence,subject_entity,object_entity,label
3024,3024,신라대학교 도서관은 당초 부산여자대숙 숙장이었던 박해곤 숙장(현 박영학원 이사)이 ...,'신라대학교','박영학원',no_relation
17331,17331,신라대학교는 재단법인인 박영학원이 1954년 부산여자대숙을 설립한 데 이어 1964...,'신라대학교','박영학원',org:member_of
19457,19457,신라대학교 도서관은 당초 부산여자대숙 숙장이었던 박해곤 숙장(현 박영학원 이사)이 ...,'신라대학교','박해곤',no_relation
19942,19942,"신라대학교는 일제강점기 부산 지역에서 부산면포합자회사, 부산대동연료공업사, 부산정미...",'신라대학교','박영택',org:founded_by

In [7]:
data[data.subject_entity=="'스페인'"]

,id,sentence,subject_entity,object_entity,label
440,440,21세의 앙갱 공작 루이가 지휘하는 프랑스군은 재빠르게 스페인 군의 움직임에 반응하...,'스페인',"'6,000명'",no_relation
6350,6350,"이 작품은 스페인 국왕 펠리페 4세의 마드리드 궁전에 있는 큰 방을 그린 것이며, ...",'스페인','마드리드',no_relation
13313,13313,"얼마 뒤 아브드 엘 크림은 아누알(Annual)의 스페인 보병대를 급습하여 단 3,...",'스페인',"'8,000명'",no_relation
13502,13502,"마드리드 또는 발렌시아가 스페인 후보일 것이라는 소문이 있었으나, 스페인은 끝내 바...",'스페인','마드리드',org:members
19663,19663,"약 27,000명에 달하는 합스부르크 가문의 스페인-신성로마제국 연합군은 아르덴(A...",'스페인',"'27,000명'",no_relation
20436,20436,바이에른 뮌헨의 감독으로 부임한 이후에도 분데스리가 3연패를 달성하면서 바르셀로나에...,'스페인','마드리드',org:place_of_headquarters
21811,21811,디에고 다 실바 코스타 또는 지에구 다 시우바 코스타는 브라질 출신 스페인 축구 선...,'스페인','마드리드',org:place_of_headquarters
21821,21821,"얼마 뒤 아브드 엘 크림은 아누알(Annual)의 스페인 보병대를 급습하여 단 3,...",'스페인',"'3,000명'",no_relation
24447,24447,이 경기 승리로 레알 마드리드는 스페인 리그 역사상 최초로 단일 시즌 승점 100점...,'스페인','마드리드',no_relation
25703,25703,"그는 등번호 14번을 부여 받았고, 마드리드에서 열린 1-2로 패배한 스페인과의 친...",'스페인','마드리드',org:members
28953,28953,"스페인군은 사상자, 포로를 합쳐 15,000명의 피해를 입었으며, 프랑스군은 약 4...",'스페인',"'15,000명'",no_relation
30313,30313,클라시크라는 단어는 스페인 라 리가의 레알 마드리드 CF와 FC 바르셀로나간의 더비...,'스페인','마드리드',no_relation
31091,31091,그런데 마드리드 조약에서 스페인과 포르투갈이 우루과이강을 국경으로 삼기로 하고 우루...,'스페인','마드리드',no_relation
31272,31272,"2015년 1월 22일, 스페인 라 리가의 레알 마드리드가 비공개 금액에 시우바를 ...",'스페인','마드리드',org:place_of_headquarters
32406,32406,충북경자청과 코트라 마드리드 무역관이 공동 주최하고 스페인 제약협회(Farma In...,'스페인','마드리드',no_relation

In [8]:
# 이걸 함수화해서 load_data.py에 반영해야됨
# 숫자 사이에 있는 콤마(,)에서 콤마 지우는 방법
data['sentence'] = data['sentence'].apply(lambda x: re.sub(r'(\d+),(\d+)', r'\1\2', x))
data['subject_entity'] = data['subject_entity'].apply(lambda x: re.sub(r'(\d+),(\d+)', r'\1\2', x))
data['object_entity'] = data['object_entity'].apply(lambda x: re.sub(r'(\d+),(\d+)', r'\1\2', x))
data[data.subject_entity=="'스페인'"]

,id,sentence,subject_entity,object_entity,label
440,440,21세의 앙갱 공작 루이가 지휘하는 프랑스군은 재빠르게 스페인 군의 움직임에 반응하...,'스페인','6000명',no_relation
6350,6350,"이 작품은 스페인 국왕 펠리페 4세의 마드리드 궁전에 있는 큰 방을 그린 것이며, ...",'스페인','마드리드',no_relation
13313,13313,얼마 뒤 아브드 엘 크림은 아누알(Annual)의 스페인 보병대를 급습하여 단 30...,'스페인','8000명',no_relation
13502,13502,"마드리드 또는 발렌시아가 스페인 후보일 것이라는 소문이 있었으나, 스페인은 끝내 바...",'스페인','마드리드',org:members
19663,19663,약 27000명에 달하는 합스부르크 가문의 스페인-신성로마제국 연합군은 아르덴(Ar...,'스페인','27000명',no_relation
20436,20436,바이에른 뮌헨의 감독으로 부임한 이후에도 분데스리가 3연패를 달성하면서 바르셀로나에...,'스페인','마드리드',org:place_of_headquarters
21811,21811,디에고 다 실바 코스타 또는 지에구 다 시우바 코스타는 브라질 출신 스페인 축구 선...,'스페인','마드리드',org:place_of_headquarters
21821,21821,얼마 뒤 아브드 엘 크림은 아누알(Annual)의 스페인 보병대를 급습하여 단 30...,'스페인','3000명',no_relation
24447,24447,이 경기 승리로 레알 마드리드는 스페인 리그 역사상 최초로 단일 시즌 승점 100점...,'스페인','마드리드',no_relation
25703,25703,"그는 등번호 14번을 부여 받았고, 마드리드에서 열린 1-2로 패배한 스페인과의 친...",'스페인','마드리드',org:members
28953,28953,"스페인군은 사상자, 포로를 합쳐 15000명의 피해를 입었으며, 프랑스군은 약 40...",'스페인','15000명',no_relation
30313,30313,클라시크라는 단어는 스페인 라 리가의 레알 마드리드 CF와 FC 바르셀로나간의 더비...,'스페인','마드리드',no_relation
31091,31091,그런데 마드리드 조약에서 스페인과 포르투갈이 우루과이강을 국경으로 삼기로 하고 우루...,'스페인','마드리드',no_relation
31272,31272,"2015년 1월 22일, 스페인 라 리가의 레알 마드리드가 비공개 금액에 시우바를 ...",'스페인','마드리드',org:place_of_headquarters
32406,32406,충북경자청과 코트라 마드리드 무역관이 공동 주최하고 스페인 제약협회(Farma In...,'스페인','마드리드',no_relation

In [40]:
print(tokenizer.decode(tokenizer.encode('6000년')))
print(tokenizer.encode('6000년'))
print(tokenizer.decode(tokenizer.encode('6,000년')))
print(tokenizer.encode('6,000년'))

[CLS] 6000년 [SEP]
[0, 6891, 2440, 2]
[CLS] 6, 000년 [SEP]
[0, 26, 16, 5058, 2440, 2]

### 콤마(,) 처리 완료 후 그 다음은?

In [14]:
INPUT_SENT = data['sentence'][14]
tokenizer.decode(tokenizer.encode(INPUT_SENT))

'[CLS] 조토 디 본도네, 마사초, 피에로 델라 프란체스카, 도메니코 기를란다요, 페루지노, 미켈란젤로, 라파엘로, 보티첼리, 레오나르도 다빈치, 티치아노 등으로 대표되는 이탈리아 르네상스 회화는 당대와 그 이후의 시기 유럽 전체에 영향을 주었다. [SEP]'

In [41]:
# 13781, 222, 8473(entity 포함), 
NUM = 13781
INPUT_SENT = data['sentence'][NUM]
print(INPUT_SENT)
print(tokenizer.decode(tokenizer.encode(INPUT_SENT)))
print(data['subject_entity'][NUM], data['object_entity'][NUM])

조소카베 모토치카(ちょうそかべ もとちか), 덴분 8년(1539년) ~ 게이초 4년(1599년 5월 19일))는 조소카베 가문의 제20대 당주이다. 도사(土佐 의 센고쿠 다이묘.
[CLS] 조소카베 모토치카 ( [UNK] [UNK] ), 덴분 8년 ( 1539년 ) ~ 게이초 4년 ( 1599년 5월 19일 ) ) 는 조소카베 가문의 제20대 당주이다. 도사 ( 土 [UNK] 의 센고쿠 다이묘. [SEP]
'조소카베 모토치카' '덴분 8년(1539년)'

In [45]:
input_sent = "조소카베 모토치카(ちょうそかべ もとちか), 덴분 8년(1539년) ~ 게이초 4년(1599년 5월 19일))는 조소카베 가문의 제20대 당주이다. 도사(土佐 의 센고쿠 다이묘."
output_sent = tokenizer.decode(tokenizer.encode(INPUT_SENT), skip_special_tokens=True)
output_sent

'조소카베 모토치카 ( ), 덴분 8년 ( 1539년 ) ~ 게이초 4년 ( 1599년 5월 19일 ) ) 는 조소카베 가문의 제20대 당주이다. 도사 ( 土 의 센고쿠 다이묘.'