In [85]:
import pandas as pd
import numpy as np
import re
import pickle

from transformers import AutoTokenizer
from load_data import *

from koeda import EDA, AEDA

## 숫자 사이 콤마를 어떻게 처리할 것인가

In [2]:
MODEL_NAME = 'klue/roberta-large'
tokenizer = AutoTokenizer.from_pretrained(MODEL_NAME)

In [86]:
data = load_data("../dataset/train/train.csv")
data.sample(10)

,id,sentence,subject_entity,object_entity,label
25768,25768,"법정 통화는 뉴질랜드 달러와 쿡 제도 달러로 2종류이나, 국내에서 유통되는 경제통화...",'쿡 제도','뉴질랜드',no_relation
9335,9335,1933년 국가사회주의 독일 노동자당(나치당)이 독일의 권력을 잡음으로써(마흐터그라...,'나치당','독일 노동자당',org:alternate_names
14848,14848,"먼저 청의 외교부 협조를 받아, 당시 이홍장 휘하의 조선 주재 청국 공사 원세개(위...",'원세개','이홍장',no_relation
11710,11710,"리옹 합류와 함께, 에시엔은 등번호 4번을 받고 광역 미드필더로 활약했는데, 그는 ...",'에시엔','미드필더',no_relation
18290,18290,리버풀은 31일(한국시간) 영국 리버풀의 안필드에서 열린 2019-2020 카라바오...,'디보크 오리기','리버풀',per:employee_of
31160,31160,"제63대 법무부 장관과 제44대 국무총리를 역임하였고, 2020년 2월 17일부터 ...",'미래통합당','2020년 2월 17일',no_relation
12502,12502,광주광역시서부교육지원청이 주최한 공간 혁신의 일환으로 진행된 휴마루 사업을 통하여 ...,'송광중학교','광주광역시서부교육지원청',no_relation
14528,14528,"2008년 10월 2일 최진실의 죽음과 관련해 국민들은 ""씩씩하게 잘 살아왔는데 왜...",'최진실','2008년 10월 2일',per:date_of_death
26872,26872,광복 직후에는 조만식의 조선민주당에 참가했으나 반공 인사였기에 소군정과 마찰을 빚었다.,'조만식','조선민주당',per:employee_of
19258,19258,프란체스코 마리아 1세 델라 로베레(1490년 3월 22일 - 1538년 10월 2...,'프란체스코 마리아 1세 델라 로베레','우르비노 공작',per:title

In [4]:
data[data.subject_entity=="'신라대학교'"]

,id,sentence,subject_entity,object_entity,label
3024,3024,신라대학교 도서관은 당초 부산여자대숙 숙장이었던 박해곤 숙장(현 박영학원 이사)이 ...,'신라대학교','박영학원',no_relation
17331,17331,신라대학교는 재단법인인 박영학원이 1954년 부산여자대숙을 설립한 데 이어 1964...,'신라대학교','박영학원',org:member_of
19457,19457,신라대학교 도서관은 당초 부산여자대숙 숙장이었던 박해곤 숙장(현 박영학원 이사)이 ...,'신라대학교','박해곤',no_relation
19942,19942,"신라대학교는 일제강점기 부산 지역에서 부산면포합자회사, 부산대동연료공업사, 부산정미...",'신라대학교','박영택',org:founded_by

In [5]:
data[data.subject_entity=="'스페인'"]

,id,sentence,subject_entity,object_entity,label
440,440,21세의 앙갱 공작 루이가 지휘하는 프랑스군은 재빠르게 스페인 군의 움직임에 반응하...,'스페인','6000명',no_relation
6350,6350,"이 작품은 스페인 국왕 펠리페 4세의 마드리드 궁전에 있는 큰 방을 그린 것이며, ...",'스페인','마드리드',no_relation
13313,13313,얼마 뒤 아브드 엘 크림은 아누알(Annual)의 스페인 보병대를 급습하여 단 30...,'스페인','8000명',no_relation
13502,13502,"마드리드 또는 발렌시아가 스페인 후보일 것이라는 소문이 있었으나, 스페인은 끝내 바...",'스페인','마드리드',org:members
19663,19663,약 27000명에 달하는 합스부르크 가문의 스페인-신성로마제국 연합군은 아르덴(Ar...,'스페인','27000명',no_relation
20436,20436,바이에른 뮌헨의 감독으로 부임한 이후에도 분데스리가 3연패를 달성하면서 바르셀로나에...,'스페인','마드리드',org:place_of_headquarters
21811,21811,디에고 다 실바 코스타 또는 지에구 다 시우바 코스타는 브라질 출신 스페인 축구 선...,'스페인','마드리드',org:place_of_headquarters
21821,21821,얼마 뒤 아브드 엘 크림은 아누알(Annual)의 스페인 보병대를 급습하여 단 30...,'스페인','3000명',no_relation
24447,24447,이 경기 승리로 레알 마드리드는 스페인 리그 역사상 최초로 단일 시즌 승점 100점...,'스페인','마드리드',no_relation
25703,25703,"그는 등번호 14번을 부여 받았고, 마드리드에서 열린 1-2로 패배한 스페인과의 친...",'스페인','마드리드',org:members
28953,28953,"스페인군은 사상자, 포로를 합쳐 15000명의 피해를 입었으며, 프랑스군은 약 40...",'스페인','15000명',no_relation
30313,30313,클라시크라는 단어는 스페인 라 리가의 레알 마드리드 CF와 FC 바르셀로나간의 더비...,'스페인','마드리드',no_relation
31091,31091,그런데 마드리드 조약에서 스페인과 포르투갈이 우루과이강을 국경으로 삼기로 하고 우루...,'스페인','마드리드',no_relation
31272,31272,"2015년 1월 22일, 스페인 라 리가의 레알 마드리드가 비공개 금액에 시우바를 ...",'스페인','마드리드',org:place_of_headquarters
32406,32406,충북경자청과 코트라 마드리드 무역관이 공동 주최하고 스페인 제약협회(Farma In...,'스페인','마드리드',no_relation

In [6]:
# 이걸 함수화해서 load_data.py에 반영해야됨
# 숫자 사이에 있는 콤마(,)에서 콤마 지우는 방법
data['sentence'] = data['sentence'].apply(lambda x: re.sub(r'(\d+),(\d+)', r'\1\2', x))
data['subject_entity'] = data['subject_entity'].apply(lambda x: re.sub(r'(\d+),(\d+)', r'\1\2', x))
data['object_entity'] = data['object_entity'].apply(lambda x: re.sub(r'(\d+),(\d+)', r'\1\2', x))
data[data.subject_entity=="'스페인'"]

,id,sentence,subject_entity,object_entity,label
440,440,21세의 앙갱 공작 루이가 지휘하는 프랑스군은 재빠르게 스페인 군의 움직임에 반응하...,'스페인','6000명',no_relation
6350,6350,"이 작품은 스페인 국왕 펠리페 4세의 마드리드 궁전에 있는 큰 방을 그린 것이며, ...",'스페인','마드리드',no_relation
13313,13313,얼마 뒤 아브드 엘 크림은 아누알(Annual)의 스페인 보병대를 급습하여 단 30...,'스페인','8000명',no_relation
13502,13502,"마드리드 또는 발렌시아가 스페인 후보일 것이라는 소문이 있었으나, 스페인은 끝내 바...",'스페인','마드리드',org:members
19663,19663,약 27000명에 달하는 합스부르크 가문의 스페인-신성로마제국 연합군은 아르덴(Ar...,'스페인','27000명',no_relation
20436,20436,바이에른 뮌헨의 감독으로 부임한 이후에도 분데스리가 3연패를 달성하면서 바르셀로나에...,'스페인','마드리드',org:place_of_headquarters
21811,21811,디에고 다 실바 코스타 또는 지에구 다 시우바 코스타는 브라질 출신 스페인 축구 선...,'스페인','마드리드',org:place_of_headquarters
21821,21821,얼마 뒤 아브드 엘 크림은 아누알(Annual)의 스페인 보병대를 급습하여 단 30...,'스페인','3000명',no_relation
24447,24447,이 경기 승리로 레알 마드리드는 스페인 리그 역사상 최초로 단일 시즌 승점 100점...,'스페인','마드리드',no_relation
25703,25703,"그는 등번호 14번을 부여 받았고, 마드리드에서 열린 1-2로 패배한 스페인과의 친...",'스페인','마드리드',org:members
28953,28953,"스페인군은 사상자, 포로를 합쳐 15000명의 피해를 입었으며, 프랑스군은 약 40...",'스페인','15000명',no_relation
30313,30313,클라시크라는 단어는 스페인 라 리가의 레알 마드리드 CF와 FC 바르셀로나간의 더비...,'스페인','마드리드',no_relation
31091,31091,그런데 마드리드 조약에서 스페인과 포르투갈이 우루과이강을 국경으로 삼기로 하고 우루...,'스페인','마드리드',no_relation
31272,31272,"2015년 1월 22일, 스페인 라 리가의 레알 마드리드가 비공개 금액에 시우바를 ...",'스페인','마드리드',org:place_of_headquarters
32406,32406,충북경자청과 코트라 마드리드 무역관이 공동 주최하고 스페인 제약협회(Farma In...,'스페인','마드리드',no_relation

In [7]:
print(tokenizer.decode(tokenizer.encode('6000년')))
print(tokenizer.encode('6000년'))
print(tokenizer.decode(tokenizer.encode('6,000년')))
print(tokenizer.encode('6,000년'))

[CLS] 6000년 [SEP]
[0, 6891, 2440, 2]
[CLS] 6, 000년 [SEP]
[0, 26, 16, 5058, 2440, 2]

## EDA, AEDA를 적용한 문장을 새로운 데이터프레임으로 만들기

In [8]:
INPUT_SENT = data['sentence'][14]
tokenizer.decode(tokenizer.encode(INPUT_SENT))

'[CLS] 조토 디 본도네, 마사초, 피에로 델라 프란체스카, 도메니코 기를란다요, 페루지노, 미켈란젤로, 라파엘로, 보티첼리, 레오나르도 다빈치, 티치아노 등으로 대표되는 이탈리아 르네상스 회화는 당대와 그 이후의 시기 유럽 전체에 영향을 주었다. [SEP]'

In [9]:
# 13781, 222, 8473(entity 포함), 
NUM = 13781
INPUT_SENT = data['sentence'][NUM]
print(INPUT_SENT)
print(tokenizer.decode(tokenizer.encode(INPUT_SENT)))
print(data['subject_entity'][NUM], data['object_entity'][NUM])

조소카베 모토치카(ちょうそかべ もとちか), 덴분 8년(1539년) ~ 게이초 4년(1599년 5월 19일))는 조소카베 가문의 제20대 당주이다. 도사(土佐 의 센고쿠 다이묘.
[CLS] 조소카베 모토치카 ( [UNK] [UNK] ), 덴분 8년 ( 1539년 ) ~ 게이초 4년 ( 1599년 5월 19일 ) ) 는 조소카베 가문의 제20대 당주이다. 도사 ( 土 [UNK] 의 센고쿠 다이묘. [SEP]
'조소카베 모토치카' '덴분 8년(1539년)'

In [10]:
input_sent = "조소카베 모토치카(ちょうそかべ もとちか), 덴분 8년(1539년) ~ 게이초 4년(1599년 5월 19일))는 조소카베 가문의 제20대 당주이다. 도사(土佐 의 센고쿠 다이묘."
output_sent = tokenizer.decode(tokenizer.encode(INPUT_SENT), skip_special_tokens=True)
output_sent

'조소카베 모토치카 ( ), 덴분 8년 ( 1539년 ) ~ 게이초 4년 ( 1599년 5월 19일 ) ) 는 조소카베 가문의 제20대 당주이다. 도사 ( 土 의 센고쿠 다이묘.'

In [11]:
eda = EDA(morpheme_analyzer="Mecab", alpha_sr=0.3, alpha_ri=0.1, alpha_rs=0, prob_rd=0)
result = eda(input_sent)
result

'조소카베 모토치카(ちょうそかべ もとちか), 덴분 8년(1539년) ~ 게이초 4년(1599년 5월 19일))는 조소카베 가문의 제20대 당주이다. 도사(土佐 의 센고쿠 다이묘.'

In [58]:
INPUT_SENT = data['sentence'][3218]
eda = EDA(morpheme_analyzer="Mecab", alpha_sr=-0.8, alpha_ri=0, alpha_rs=0, prob_rd=0)
result = eda(INPUT_SENT)
print(INPUT_SENT)
print(result)
data.object_entity[440], data.subject_entity[440]

라마굽타는 사무드라굽타와 찬드라굽타 2세 사이의 공백기인 375년부터 380년까지 굽타 제국을 다스렸다고 추정되는 마하라자디라자이다.
라마굽타는 업무드라굽타와 찬드라굽타 2세 사이의 공백기인 375년부터 380년까지 굽타 제국을 다스렸다고 추정되는 마하라자디라자이다.

("'6000명'", "'스페인'")

In [30]:
aeda = AEDA(morpheme_analyzer="Mecab", punc_ratio=0.01, punctuations=["?", "!", ".", ","])
result = aeda(INPUT_SENT)
print(INPUT_SENT)
print(result)

21세의 앙갱 공작 루이가 지휘하는 프랑스군은 재빠르게 스페인 군의 움직임에 반응하여 6000명에 달하는 스페인 원군이 도착하기 전에 전투를 벌이려 하였다.
21세의 앙갱 공작 루이가 지휘하는 프랑스군은 재빠르게 스페인 군의 움직임에 반응하여 6000명에 ? 달하는 스페인 원군이 도착하기 전에 전투를 벌이려 하였다.

In [127]:
eda = EDA(morpheme_analyzer="Mecab", alpha_sr=-0.8, alpha_ri=0, alpha_rs=0, prob_rd=0)
aeda = AEDA(morpheme_analyzer="Mecab", punc_ratio=0.15, punctuations=["?", "!", ".", ",", "또한", "#"])

def right_augment(en1, en2, text):
    if en1 not in text or en2 not in text:
        return True
    return False

def augment_sent(df, my_eda, my_aeda):
    sentences = list(df['sentence'])
    entities1, entities2 = list(df['object_entity']), list(df['subject_entity'])
    aug_sentences = []
    for i, sent in enumerate(sentences):
        aug_sent = aeda(sent)
        ent1, ent2 = entities1[i], entities2[i]
        if not right_augment(ent1, ent2, aug_sent):
            aug_sent = sent
        aug_sentences.append(aug_sent)
    df['sentence'] = aug_sentences
    return df

In [128]:
sample_df = data.sample(100)
aug_df = augment_sent(sample_df, eda, aeda)

In [129]:
len(aug_df)

100

In [130]:
aug_df.sample(10)

,id,sentence,subject_entity,object_entity,label
14035,14035,"조해리 , 씨는 전 쇼트트랙 스피드 스케이팅 국가대표 출신 스포츠 해설가다.",'조해리','쇼트트랙',no_relation
14009,14009,"안드라지 안투니스 안데르송(Andrade Antunes Anderson, 1981년...",'안드라지 안투니스 안데르송','로아소 구마모토',per:employee_of
13170,13170,"2010년 3월 ? 3일부터 2011년 7월까지 아나운서 한상헌 아나운서, 유수연 ...",'한상헌','아나운서',per:title
11012,11012,"또한, 요한 바오로 2세는 몇 년 동안 곱비 신부를 만나 그와 함께 바티칸에 있 ?...",'요한 바오로 2세','바티칸',no_relation
1279,1279,", 그는 아메리칸 리그가 출범 ! 한 1901년 당시 .426의 , 타율을 기록하였다.",'아메리칸 리그','1901년',org:founded
10519,10519,"1997년 4월 25일, 또한 보리스 옐친 당시 러시아 또한 대통령은 바실리예프를 ...",'러시아 내무부','러시아 대통령',no_relation
23229,23229,한편 자신이 창시한 웨스턴 유니언을 . 통하여 막대한 재산을 벌어들인 에즈라 코넬(...,'에즈라','Ezra',per:alternate_names
10986,10986,"여수시(시장 권오봉 , )가 저소득층의 자립과 자산 형성을 돕기 위해 희망키움통장 ...",'여수시','권오봉',org:top_members/employees
11526,11526,"히사시의 3녀 중 장녀 오와다 마사코도 부친과 같이 . 외교관이었는데, 1993년에...",'나루히토','일본 황실',per:employee_of
6339,6339,마거릿 대처 전 총리는 구소련 ! 에 반대 # 해 로널드 레이건 미국 대통령과 친밀...,'로널드 레이건','조지 H. W. 부시',no_relation

In [131]:
lst = list(aug_df['sentence'])
lst[0]

'그리고 그 뒤를 따라가는데 안여린 선생님은 사실 구승리 감독의 썬더 ! 스톰 ! 야구단의 선수로 속해있었다.'

In [ ]:
###